<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div class="about-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
        doloribus?
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, sed.</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        dolorem.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
        eveniet!
      </p>
    </div>
  </body>
</html>
